.pop-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.817);
  z-index: 40;

  &-inner {
    @keyframes fadeIn {
      0% {
         top: 28%;
      }
  
      100% {
          top: 50%;
      }
  }
    animation: fadeIn 0.5s; 
    text-align: center;
    justify-content: center;
    span {
      position: absolute;
      right: 10px;
      top: 2px;

      font-size: 30px;
      font-weight: 700;
      cursor: pointer;
    }
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0 10px 20px;

    div {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 20px;

        button {
          width: 100px;
          margin-top: 20px;
          text-decoration: none;
          border: none;
          font-size: 18px;
          color: white;
          border-radius: 7px;
          box-shadow: 0 5px 0px #3f51b5;
          display: inline-block;
          transition: all 0.2s;
          padding: 10px 15px;
          top: 0;
          font-weight: 600;
          cursor: pointer;

          &:active {
            top: 3px;
            box-shadow: 0 2px 0px #3f51b5;
            transition: all 0.2s;
          }
        }
        .no-btn {
          background-color: red;
        }
        .yes-btn {
          background-color: green;
        }
      }
    }
  }
}
